<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>
  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Store Section</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <% @store_summary.each do |item| %>

          <%= render 'item_sum', name: item[:name], link: item[:link], count: item[:count] %>

        <% end %>
      </tbody>
    </table>
  </div>
</section>